<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory | {{ page | title}} </title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        header {
            background: gray;
        }
        .title {
            height: 50px;
            width: 100%;
        }
        .nav-bar {
            height: 20px;
            width: 100%;
        }
        .container {
            padding: 5px;
        }
    </style>
</head>
<body>
    <header>
        <div class="title"></div>
        <div class="nav-bar">
            <a href="{% url 'core:sales' %}">Sales</a>
            <a href="{% url 'core:products' %}">Products</a>
            <a href="{% url 'core:category' %}">Category</a>
            <a href="#">Order</a> 
            {% comment%} Display pending order of product and the distributors contacts {% endcomment %}
        
            <a href="#">Contact</a>
            {% comment%} Display feedbacks from the users and their email address to contact them if they place an order  {% endcomment %}
            {% if request.user.is_superuser %}
                <a href="{% url 'core:register' %}">Register</a>
            {% endif %}

            <span style="float: right">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'core:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'core:login' %}">Login</a>
                {% endif %}
            </span>


        </div>
    </header>
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>