{% extends "main.html" %}


{% block content %}

<a href="{% url 'core:category-create' %}">Create category</a>

<div class="category-wrapper">
    {% for category in categories %}
    
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <a href="{% url 'core:category-detail' category.id %}">{{ category }}</a>
        <a href="{% url 'core:category-update' category.id %}">edit</a>
        <a href="{% url 'core:category-delete' category.id %}">delete</a>
    </div>
    
    {% empty %}
    
    No category record yet.
    
    {% endfor %}
</div>


{% endblock content %}